:root {
  --main-color-1: rgba(255,192,203,.5);
  --main-color-2: rgba(255,192,203,.0);
}

/*使わないコンテンツ*/
.button,.button:hover {
	border:none;
}
#newsHolder,#newsBody,#streamContainer,.youNewDiv,#aHolder,.endAHolder,#mainLogo,#seasonLabel,#rankedSoonTm,#voiceDisplay,#termInfo {
	display: none!important;
}
  
/*背景色指定*/
#menuItemContainer,.headerBar,#chatInputHolder,#chatList,#voiceDisplay,.button.small {
    	background-color: var(--main-color-1);
}
#mLevelCont {
	background-color: var(--main-color-2);/
}

/*その他*/
#subLogoButtons {
   	position: absolute;
  	bottom: 16px;
}
/*This css was made by FoxNoi99.*/  
