@import url(https://foxnoi99.com/css/coloredglass.css);

:root {
  --main-color-1: rgba(255,192,203,.5);
  --main-color-2: rgba(255,192,203,.0);
}

@font-face {
  	font-family: gamefont;
	src: url(https://foxnoi99.com/montserrat.woff2);
}
@font-face {
	font-family: 'JP';
	src url(https://foxnoi99.com/jp.ttf);
}
/*This css was made by FoxNoi99.*/
