@import url(https://foxnoi99.com/css/coloredglass.css);

:root {
  --main-color-1: rgba(255,192,203,.5);
  --main-color-2: rgba(255,192,203,.0);
}

@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2);
}
@font-face {
    font-family: JP;
    src: url(https://dl.dropboxusercontent.com/s/9b7aer2osbcd388/logotypejp_mp_b_1.1.ttf?dl=0);
}
/*This css was made by FoxNoi99.*/
